.contact{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
.contact-form {
  text-align: center;
}
.button-send-mail{
  display: flex;
  justify-content: center;
}
.button-link-home {
  display: flex;
  justify-content: center;
}